extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/box-filter.pug

block main
  .container.my-3
    .card
      .card-header Bo loc 
      .card-body
        .row 
          .col-12
            include ../../partials/form-search.pug
    .card
      .card-header Danh sach
      .card-body
        .row.mb-3 
          .col-6
            form(form-link data-path=`${prefixAdmin}/recruitment`).d-flex
              +box-filter(careers, "")
              .input-group-append
                button(
                  class = "btn btn-success"
                  type = "submit"
                ) Tim
          .col-6.text-right
            a(href="/admin/products/create"
            class = "btn btn-outline-success"
            ) + add product
    .row
      table(
        class="table table-hover table-sm"
      )
        thead
          tr
            th
            th STT
            th title 
            th position
            th location
            th description
            th experience
            th salary
            th numbers
            th deadline
            th createAt
            th active
        tbody
          each item, index in recruitments
            tr
              td
                input(type="checkbox", name="status" input-change=item.id)
              td #{index + 1}
              td #{item.title}
              td #{item.workPosition}
              td #{item.location}
              td #{item.description}
              td #{item.experience}
              td #{item.salary}
              td #{item.theNumberOfOpenings}
              td #{item.deadline}
              td #{item.createAt}
              td
                a(
                  class="btn btn-info btn-sm"
                  href=`${prefixAdmin}/recruitment/detail/${item.categoryId}`
                ) Chi tiết
                a(
                  class="btn btn-warning btn-sm ml-1"
                  href=`${prefixAdmin}/recruitment/edit/${item.recruitmentId}`
                ) Sửa
                button(
                  class="btn btn-danger btn-sm ml-1"
                  item-id=item.recruitmentId
                  button-delete
                  data-path=`${prefixAdmin}/recruitment/delete`
                ) Xóa
          
      