.sider
  .inner-menu
    ul
      li
        a(href=`${prefixAdmin}/dashboard`) Tổng quan
      li
        a(href=`${prefixAdmin}/category`) Quản lý chủ đề
      li
        a(href=`${prefixAdmin}/recruitment`) Quản lý bài đăng
      li
        a(href=`${prefixAdmin}/employer`) Nhà tuyển dụng
      li
        a(href=`${prefixAdmin}/settings/general`) Cài đặt chung